/* Media Query Breakpoints 

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens


*/


html{
    box-sizing:border-box;
    background-color:#fffdfc;
    overflow-x:hidden;
    margin:0;
    padding:0;
}

body{
    width:100vw;
    margin-left:0;
    font-family:Poppins;
    object-fit: cover;
}

:root{
    --maroon:#380707;
    --peachy-white:#fffdfc;
    --peach:#fadfcc;
}

/* --- General Styling Classes --- */
.full-width{
    width:100%;
    background-color: var(--maroon);
}
.title {
    margin: 0 auto;
    text-align:center;
    text-transform:uppercase; 
}

.info-paragraphs{
    width:80vw;
    max-width: 80vw;
    margin-bottom:20px;
    padding: 1rem;
    padding-top:0;
}

.section-photo{
    width:75%;
    padding:50px;
    display:flex;
    align-items:center;
    flex-direction:row;
}

.homepage-photo{
    margin:auto;
    border-radius:25px;
    min-width:300px;
    max-width:1000px;
}

img.hover-shadow{
    transition:0.3s;
}

.caption{
    text-align:center;
}


a:link{
    /*background-color:beige;*/ 
    font-family: Poppins;
    padding:15px;
    text-decoration: none;
    color:#fffdfc;
}

.sr-only {
    position: absolute ;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
  }

a:hover{
    font-style:italic;
}

.flex{
    display:flex;
    gap: var(--gap, 1rem);
}


.primary-header{
    align-items:center;
    justify-content:space-between;
    background-color: var(--maroon);
    position:fixed;
    top:0;
    width:100%;
    
}

.primary-navigation{
    list-style:none;
    padding:0;
    margin:0;
    margin-right:5em;
}

.mobile-nav-toggle{
    display:none;
}

.primary-navigation a{
    text-decoration:none;
    margin-inline-end:1em;
}
a:visited{
    color:#fffdfc;
} 

#logo{
    max-width:50px;
    max-height:50px;
    float:left;
    padding: 10px;
    margin-left:5rem;
}

@media screen and (min-width:800px) and (max-width:1200px){
    #logo{
        margin-left:2rem;
    }

    .primary-navigation{
        font-size:14px;
        margin-right:2rem;
    }
}

@media screen and (max-width:800px){
    .primary-navigation{
        --gap:2em;
        position:fixed;
        inset:0 0 0 30%;
        background:var(--maroon);
        z-index:1000;
        flex-direction:column;
        padding: min(20vh, 10rem) 2rem;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
        margin:0;
    }

    .primary-navigation[data-visible="true"]{
        transform:translateX(0%);
    }

    .mobile-nav-toggle{
        position:absolute;
        background:url(/Assets/icons8-hamburger-menu.svg);
        background-repeat:no-repeat;
        width:2rem;
        border:0;
        aspect-ratio:1;
        top:2rem;
        right:2rem;
        z-index:9999;
        display:block;
    }

    .mobile-nav-toggle[aria-expanded="true"]{
        background-image:url(/Assets/icons8-close.svg);
    }

    svg{
        color:var(--peachy-white);
    }
}

/* --- Hero --- */

#hero{
    display:flex;
    align-items: center;
    width:80vw;
    margin:auto;
    margin-top:50px;
    font-family:Poppins;
}

    

#hero-title{
    line-height:35px;
    text-transform: uppercase;
    padding-top:20px;
}

#hero-photo{
    width:450px;
    height:375px;
    box-shadow: 5px 5px 10px 1px grey;
}

@media screen and (max-width:600px){
    #hero-photo{
        width: 300px;
        height: 225px;
        object-fit:cover;
    }

    #hero{
        font-size:12px;
        flex-direction:column-reverse;
        width:90%;
    }
}

@media screen and (min-width:600px) and (max-width:1200px){
    #hero-photo{
        width: 400px;
        height: 325px;
        object-fit:cover;
    }

    #hero{
        flex-direction: column-reverse;
        width:90%;
    }
}



/* --- Services Section on Home Page --- */

.service-card{
    display:flex;
    flex-direction: column;
    margin: 5px;
    align-items:center;
}


.service-card p{
    background-color:var(--maroon);
    color:var(--peachy-white);
    width:200px;
    height:50px;
    text-align:center;
    margin: -10px auto 0 auto;
    border-radius:0 0 5px 5px;
    padding-top:24px;
}

.service-card img{
    width:200px;
    height:200px;
    border-radius:5px;
    object-fit:cover;
}

.services-list{
    display:flex;
    flex-direction:row;
    margin: 0 auto;
    width:fit-content;
    flex-wrap:wrap;
    align-items: center;
    justify-content:center;
}

#service-title{
    margin: 20px auto;
}


/* --- About & Contact Section --- */

.about-section{
    display:flex;
    flex-direction: row;
    align-items:center;
    margin:auto;
    /*flex-wrap:wrap;*/
    
}

.about-photo{
    width:475px;
    height:350px;
    margin:0 20px;
}

#about-info p{
    font-size:16px;
}


@media screen and (max-width:600px){
    .about-photo{
        width: 300px;
        height: 225px;
        object-fit:cover;
    }

    .about-section{
        font-size:12px;
        flex-direction:column;
        width:90%;
    }
    .about-section h1{
        margin:10px;
    }
}

@media screen and (min-width:600px) and (max-width:1200px){
    .about-photo{
        width: 400px;
        height: 325px;
        object-fit:cover;
    }

    .about-section{
        flex-direction:column;
        width:90%;
    }

    .about-section h1{
        margin:10px;
    }
}



#contact, #about{
    color:var(--peachy-white);
    margin: 20px auto;
    font-family:Poppins;
    align-items:center;
    font-size:20px;
    width:80vw;
    padding: 20px 0;
}

.contact-header{
    text-align:center;
}

.contact a{
    color:var(--peachy-white);
    margin: 0 auto;
    font-size:14px;
}

.fa{
    color:color:var(--peachy-white);
}

/* --- Contact Form --- */

@media screen and (max-width:1200px){
    .contact-header{
        font-size:16px;
    }
}

@media screen and (max-width:600px){
    .contact-header{
        font-size:14px;
    }
}

#contact-section form{
    width:80vw;
    max-width:700px;
    margin:auto;
    place-items:center;
}

label{
    display:block;
    color:var(--peachy-white);
    font-family:Poppins;
    font-size:20px;
    text-align:left;
    margin: 10px auto;
    width:100%;
}

input{
    display:block;
    background-color:var(--peach);
    margin:auto;
    width:100%;
    height:40px;
}

textarea{
    display:block;
    width:100%;
    height:100px;
    background-color:var(--peach);
}

#submit{
    font-family:Poppins, sans-serif;
    text-transform:uppercase;
    font-size:16px;
    margin:20px auto;
    width:75%;
    color:var(--peachy-white);
    
}

#submit:hover{
    background-color:var(--maroon);
    color: var(--peach);
    border: 3px solid var(--peach);
}

#submit:active{
    color:var(--peach);
}


/* --- Services --- */
.service-page{
    display:flex;
    flex-direction: row;
    justify-content:center;
}

.service-descriptions{
    width: 35vw;
    margin:auto;
}

.service-descriptions-bottom{
    width:80vw;
    margin:auto;
    
}

#service-page p{
    font-size:14px;
}

.service-descriptions h3, .service-descriptions-bottom h3{
    text-decoration:underline;
}

#services-contact{
    width:40vw;
    padding:20px;
    background-color:var(--maroon);
    color: var(--peachy-white);
    border-radius:5px;
    box-shadow: 5px 5px 10px 1px grey;
    
}

#services-contact h2{
    text-align:center;
    
}

#services-contact p{
    padding:0 40px;
}

#services-caption{
    width:70vw;
    margin:auto;
    padding:20px 0;
}

@media screen and (max-width:800px){
    .service-page{
        display:flex;
        flex-direction: column;
        justify-content:center;
    }

    #service-page p{
        font-size:12px;
    }

    .service-descriptions, #services-caption{
        width:85vw;
        padding:0;
    }

    #services-contact{
        width:85vw;
        padding:20px;
        font-size:12px;
    }
}

@media screen and (min-width:800px) and (max-width:1200px){
    
    #services-contact{
        width:40vw;
        padding:20px;
        font-size:14px;
        max-height:800px;
        height:fit-content;
    }

    #services-contact form label{
        font-size:14px;
    }

}



/* --- Gallery --- */
#gallery-page, #services-page{
    margin:15vh auto;
    width:90vw;
    
}

.gallery{
    margin: auto;
    background-color:var(--maroon);
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    /*gap:10px;*/
    
}

.gallery img{
    width: 200px;
    height:200px;
    object-fit:cover;
    border-radius: 10px;
}

.gallery img:hover{
    transform: scale(1.05);
}



/* --- Services --- */ 

.services-page{
    display:flex; 
    flex-direction: row;
}


/* --- Footer --- */

@media screen and (max-width:600px){
    .footer img{
        width:50px;
    }
    .pageLinks, .pageLinks a{
        display:none;
    }

    .contact-icons{
        display:none;
    }
}


#footer{
    margin:0 auto;
    place-items:center;
    width:80vw;
    height: 85px;
}

.footer img{
    width:100px;
}

.footer a{
    color:var(--maroon);
    
}

i{
    color: var(--maroon);
    margin:0;
}

.pageLinks{
    margin-top: 27px;
    display:inline-block;
    font-size:14px;
}

.fa-facebook-f, .fa-instagram{
    display:inline-block;
    font-size:20px;
    margin:0 5px;
}

.contact-icons{
    margin:27px 2px 2px 0;
    float:right;
    font-size:14px;
    width:fit-content;
    
}


.contact-icons p{
    text-align:center;
    margin: 0 auto;
}

.contact-icons a{
    padding: 3px;
}



